<header class="header">
  <div class="header-left">
    <ng-content></ng-content>
    <app-logo-image [size]="60"/>
  </div>
  
  <nav class="navbar">
    @for (navButton of navigationButtons(); track navButton.route) {
      <button 
        matButton
        [routerLink]="navButton.route"
        routerLinkActive="active-nav-button"
        [routerLinkActiveOptions]="{ exact: navButton.route === '/' }"
        class="nav-button"
      >
        @if (navButton.icon) {
          <mat-icon>{{ navButton.icon }}</mat-icon>
        }
        <span>{{ navButton.label }}</span>
      </button>
    }
  </nav>
  
  <div class="header-right">
    @if(!autenticado()){
        <button routerLink="/login" matButton>Iniciar Sesión</button>
        <button routerLink="/signup" matButton>Registrarse</button>
    } @else {
        <zoo-profile-button />
        @if (isAdmin()) {
        <button
        matMiniFab
        matTooltip="Panel de administración"
        matTooltipShowDelay="500"
        routerLink="/admin"
        >
        <mat-icon>admin_panel_settings</mat-icon>
        </button>
        } 
    }
  </div>
</header>