<div class="lista-habitats-container">
  <div class="header-actions">
    <h2>Gestión de Hábitats</h2>
    <p-button
      icon="pi pi-plus"
      label="Registrar Hábitat"
      [rounded]="true"
      severity="primary"
      (onClick)="navigateToCreate()"
    />
  </div>

  @defer(on viewport; prefetch on idle; hydrate on interaction){ @let habitats =
  this.habitats$ | async; @if(habitats){
  <p-dataview #dv [value]="habitats">
    <ng-template #list let-items>
      @for(habitat of items; track habitat.id){
      <p-card styleClass="habitat-card">
        <ng-template pTemplate="title">
          <div class="card-title-content">
            <i class="pi pi-map-marker"></i> {{ habitat.nombre }}
          </div>
        </ng-template>
        <ng-template pTemplate="subtitle"> {{ habitat.tipo }} </ng-template>

        <div class="habitat-details">
          <p><strong>Descripción:</strong> {{ habitat.descripcion }}</p>
          <p>
            <strong>Condiciones Climáticas:</strong> {{
            habitat.condicionesClimaticas }}
          </p>
          <div class="status-container">
            <strong>Estado:</strong>
            <p-tag
              [value]="habitat.isActive ? 'Activo' : 'Inactivo'"
              [severity]="getStatusSeverity(habitat.isActive)"
            />
          </div>
        </div>

        <ng-template pTemplate="footer">
          <div class="card-actions">
            <p-button
              label="Editar"
              icon="pi pi-pencil"
              severity="primary"
              [text]="true"
              (onClick)="editHabitat(habitat.id)"
            />
            <p-button
              label="Eliminar"
              icon="pi pi-trash"
              severity="danger"
              [text]="true"
              (onClick)="deleteHabitat(habitat.id)"
            />
          </div>
        </ng-template>
      </p-card>
      } @empty {
      <p-card styleClass="empty-state-card">
        <div class="empty-state-content">
          <i class="pi pi-info-circle"></i>
          <p>No hay hábitats disponibles.</p>
          <p-button
            icon="pi pi-plus"
            label="Registrar Primer Hábitat"
            [rounded]="true"
            severity="primary"
            (onClick)="navigateToCreate()"
          />
        </div>
      </p-card>
      }
    </ng-template>
  </p-dataview>
  } } @loading {
  <zoo-loader />
  } @placeholder {
  <div class="loading-placeholder"><p>Cargando hábitats...</p></div>
  }
</div>
