@defer(on viewport; prefetch on idle; hydrate on interaction){
    @let quizzes = this.quizzes$ | async;
    @if(quizzes){
        <p-dataview #dv [value]="quizzes">
            <ng-template #list let-items>
                @for(item of items; track item.idTrivia){
                    <zoo-quiz-item [quiz]="item"/>
                } @empty {
                    <p>No hay quizzes disponibles.</p>
                }
            </ng-template>
        </p-dataview>
    }
} @loading {
    <zoo-loader />
}
@placeholder {
    <p>Cargando quizzes...</p>
}
