@if (animal(); as animal) {
<p-card styleClass="animal-item-card">
  <div class="animal-content">
    <div class="animal-info">
      <h3>{{ animal.nombre }}</h3>
      <p class="especie">{{ animal.especie.nombreComun }}</p>
      <div class="animal-badges">
        <p-tag [value]="generoTexto()" [rounded]="true" />
        <p-tag
          [value]="estadoAnimal().texto"
          [severity]="estadoAnimal().severity"
          [rounded]="true"
        />
      </div>
    </div>

    <div class="animal-actions">
      <p-button
        icon="pi pi-eye"
        [rounded]="true"
        severity="info"
        [outlined]="true"
        pTooltip="Ver Detalles"
        tooltipPosition="top"
        (onClick)="verDetalles()"
      />
      <p-button
        icon="pi pi-pencil"
        [rounded]="true"
        severity="secondary"
        [outlined]="true"
        pTooltip="Editar"
        tooltipPosition="top"
        [routerLink]="['/admin/animales/editar', animal.id_animal]"
      />
      <p-button
        icon="pi pi-trash"
        [rounded]="true"
        severity="danger"
        [outlined]="true"
        pTooltip="Eliminar"
        tooltipPosition="top"
        (onClick)="eliminar()"
      />
    </div>
  </div>
</p-card>
}
