@let encuesta = encuesta$ | async;
<zoo-main-container>
  @if (encuesta; as encuesta) {
    <div class="encuesta-container">
      <p-card>
        <ng-template pTemplate="header">
          <div class="encuesta-header">
            <h1>{{encuesta.titulo}}</h1>
            <p class="descripcion">{{encuesta.descripcion}}</p>
          </div>
        </ng-template>

        @for (pregunta of encuesta.preguntas; track pregunta.idPregunta) {
          <div class="pregunta-container">
            <h3>{{pregunta.textoPregunta}}</h3>

            @if (pregunta.esOpcionUnica && pregunta.opciones.length > 0) {
              <div class="opciones-container">
                @for (opcion of pregunta.opciones; track opcion.idOpcion) {
                  <div class="p-field-radiobutton">
                    <p-radioButton
                      [value]="opcion.idOpcion"
                      [inputId]="'opcion_' + opcion.idOpcion"
                      name="pregunta_{{pregunta.idPregunta}}"
                    />
                    <label [for]="'opcion_' + opcion.idOpcion">{{opcion.textoOpcion}}</label>
                  </div>
                }
              </div>
            } @else if (!pregunta.esOpcionUnica && pregunta.opciones.length > 0) {
              <div class="opciones-container">
                @for (opcion of pregunta.opciones; track opcion.idOpcion) {
                  <div class="p-field-checkbox">
                    <p-checkbox
                      [binary]="true"
                      [inputId]="'opcion_' + opcion.idOpcion"
                    />
                    <label [for]="'opcion_' + opcion.idOpcion">{{opcion.textoOpcion}}</label>
                  </div>
                }
              </div>
            } @else {
              <textarea 
                pInputTextarea
                [rows]="3"
                placeholder="Escribe tu respuesta aquí..."
                class="w-full"
              ></textarea>
            }
          </div>
        }

        <ng-template pTemplate="footer">
          <div class="actions-container">
            <p-button
              severity="primary"
              label="Siguiente"
              icon="pi pi-arrow-right"
              iconPos="right"
            />
          </div>
        </ng-template>
      </p-card>
    </div>
  } @else {
    <div class="loading-container">
      <p>Cargando encuesta...</p>
    </div>
  }
</zoo-main-container>
