<zoo-main-container>
  <p-card class="crear-form-card">
    <ng-template pTemplate="header">
      <div class="card-header">
        <h2>Crear Nueva Trivia</h2>
        <p class="subtitle">Ingresa los datos de la nueva trivia</p>
      </div>
    </ng-template>

    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-section">
        <h4>Configuración de la Trivia</h4>

        <div class="form-grid">
          
          <div class="field">
            <p-floatlabel>
              <p-datepicker
                inputId="fecha-trivia"
                formControlName="fechaTrivia"
                [minDate]="minDate()"
                [invalid]="isInvalid('fechaTrivia')"
                showIcon
                dateFormat="dd-mm-yy"
                iconDisplay="input"
              />
              <label for="fecha-trivia">Fecha de la Trivia</label>
            </p-floatlabel>
            @if (isInvalid('fechaTrivia')) {
              <ng-container
                [ngTemplateOutlet]="alerta"
                [ngTemplateOutletContext]="{ fieldName: 'fechaTrivia' }"
              />
            }
          </div>

          <div class="field">
            <p-floatlabel>
              <p-inputnumber
                inputId="cantidad-preguntas"
                formControlName="cantidadPreguntas"
                [min]="1"
                [max]="50"
                [invalid]="isInvalid('cantidadPreguntas')"
                suffix=" preguntas"
              />
              <label for="cantidad-preguntas">Cantidad de Preguntas</label>
            </p-floatlabel>
            @if (isInvalid('cantidadPreguntas')) {
              <ng-container
                [ngTemplateOutlet]="alerta"
                [ngTemplateOutletContext]="{ fieldName: 'cantidadPreguntas' }"
              />
            }
          </div>

          <div class="field">
            <p-floatlabel>
              <p-select
                inputId="dificultad"
                formControlName="dificultad"
                [options]="dificultades"
                optionLabel="label"
                optionValue="value"
                [invalid]="isInvalid('dificultad')"
              />
              <label for="dificultad">Dificultad</label>
            </p-floatlabel>
            @if (isInvalid('dificultad')) {
              <ng-container
                [ngTemplateOutlet]="alerta"
                [ngTemplateOutletContext]="{ fieldName: 'dificultad' }"
              />
            }
          </div>

        </div> </div> <div class="form-actions">
        <p-button
          type="submit"
          label="Crear Quiz"
          icon="pi pi-plus"
          [loading]="loading()"
          [rounded]="true"
        />
      </div>
    </form>

    <ng-template #alerta let-fieldName="fieldName">
      <p-message 
        severity="error" 
        size="small" 
        variant="simple"
      >
        {{ getErrorMessage(fieldName) }}
      </p-message>
    </ng-template>
    
  </p-card>
</zoo-main-container>