<div class="diet-card" [ngClass]="layout()">
  <div class="visual-wrapper">
    <div class="icon-circle">
      <i class="pi pi-apple"></i>
    </div>
    @if(layout() === 'grid') {
    <p-tag
      [value]="ingredientesCount() + ' Ingredientes'"
      severity="warn"
      styleClass="ingredient-badge"
      [rounded]="true"
    />
    }
  </div>

  <div class="content-wrapper">
    <div class="header-info">
      <div class="title-row">
        <h3>{{ dieta().nombre }}</h3>
        @if(layout() === 'list') {
        <p-tag
          [value]="ingredientesCount() + ' ítems'"
          severity="warn"
          [rounded]="true"
        />
        }
      </div>

      <div class="target-info">
        <i [class]="targetInfo().icon"></i>
        <span class="target-label">{{ targetInfo().type }}:</span>
        <span class="target-name">{{ targetInfo().name }}</span>
      </div>

      @if(dieta().updatedAt) {
      <span class="date-label"
        >Actualizado: {{ dieta().updatedAt | date:'shortDate' }}</span
      >
      }
    </div>

    <div class="actions">
      <p-button
        icon="pi pi-eye"
        [text]="true"
        severity="secondary"
        pTooltip="Ver Detalles"
        tooltipPosition="top"
        (onClick)="onView.emit(dieta().id)"
      />

      <p-button
        icon="pi pi-pencil"
        [text]="true"
        severity="info"
        pTooltip="Editar Receta"
        tooltipPosition="top"
        (onClick)="onEdit.emit(dieta().id)"
      />

      <p-button
        icon="pi pi-trash"
        [text]="true"
        severity="danger"
        pTooltip="Eliminar"
        tooltipPosition="top"
        (onClick)="onDelete.emit(dieta().id)"
      />
    </div>
  </div>
</div>
