@use "@angular/material" as mat;
@import "primeicons/primeicons.css";

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      density: -1,
    )
  );
  @include mat.theme-overrides(
    (
      primary: #40964e,
    )
  );
}

html.dark-mode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$cyan-palette,
      density: -1,
    )
  );
  @include mat.theme-overrides(
    (
      primary: #59b468,
    )
  );
}

body {
  height: 100%;
  margin: 0;
  font-family: "Source Sans 3", Arial, sans-serif;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.splitter{
    height: 100%;
}